.mClass {
  cursor: pointer;
}

.loader2 {
  position: absolute;
  left: 44%;
  top: 38vh;
  height: 150px !important;
  width: 150px !important;
}

.box-child {
  width: 19%;
  box-sizing: border-box;
}
