$color-primary: #2DD99F;
$color-primary-light: #f0feff;
$color-secondary: #0F1010;
$color-secondary-light: #e9f1ff;
$color-border:#2DD99F;
$font-bold: 700;
$font-medium: 600;
$font-regular: 400;
$font-light: 300;